body {
    font-family: Arial, sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    /* margin-left: 4px; */
    margin-right: 8px;
}

h1 {
    color: #008cba;
    text-align: center;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #073d6c;
    color: white;
}

td img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

.product-name-column {
    width: 20%; /* Set the width of the Product Name column */
}

.address-column{
    width: 16%;
}

.phone-column{
    width: 8%;
}

tr:hover {
    background-color: #e0f2fe;
    transition: background-color 0.3s;
}

/* ---------------------- */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

.container {
    max-width: 1300px;
    margin: 150px auto;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
}

.image-container {
    float: left;
    width: 40%;
    padding: 20px;
}

.image-container img {
    width: 500px;
    height: 300px;
    height: auto;
    display: block;
    border-radius: 8px;
}

.text-container {
    float: right;
    width: 50%;
    padding: 20px;
}

.order-details {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}

h2 {
    color: #0066cc;
}

h3 {
    color: #333;
    /* text-align: center; */
}

.timestamp {
    font-style: italic;
    color: #666;
}

.status-dropdown {
    margin-top: 20px;
}

select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
}

